/*scene styling*/
.primary-color {
    -fx-background-color: #383838;
}

.secondary-color {
    -fx-background-color: #282828;
}

.text-area {
    -fx-text-fill: #ffffff;
}

/*buttons styling*/
.mode-button {
    -fx-background-color: none;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
}


.menu-button {
    -fx-background-color: #282828;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-padding: 5 10 5 10;
}