/*scene styling*/
.primary-color {
    -fx-background-color: #ffffff;
}

.secondary-color {
    -fx-background-color: #e7e7e7;
}

.text-area {
    -fx-text-fill: #000000;
}


/*buttons styling*/
.mode-button {
    -fx-background-color: none;
    -fx-border-radius: 100;
}

.menu-button {
    -fx-background-color: #e7e7e7;
    -fx-text-fill: #000000;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-padding: 5 10 5 10;
}

.back-button{
    -fx-background-color:  #ffffff;
    -fx-text-fill: #000000;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-padding: 5 10 5 10;
    -fx-border-color: grey;
}


